
@{
    ViewBag.Title = "ABC";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row">
            <div class="table-data__tool-right">
                <a href="/Admin/Product/Create">
                    <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                        <i class="zmdi zmdi-plus"></i>add item
                    </button>
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <img src="/Assets/Client/images/bg_1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                    </div>
                    <div class="card-body">
                        <a href="#" class="btn btn-primary">Card link</a>
                        <a href="#" class="btn btn-primary">Another link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>