@model PagedList.IPagedList<Model.EF.Slide>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<!-- modal static -->
<div class="modal" tabindex="-1" role="dialog" id="mymodal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông Báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có muốn xoá content này không??</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="deleteSlide()">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<!-- end modal static -->

<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row">
            <div class="table-data__tool-right">
                <a href="/Admin/Slide/Create">
                    <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                        <i class="zmdi zmdi-plus"></i>add item
                    </button>
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-6">
                    <div class="card">
                        <img src="@item.Image" style="height: 18rem;" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">@item.TextBig</h5>
                            <p class="card-text">@item.TextSmall</p>

                        </div>
                        <div class="card-body">
                            <a href="/Admin/Slide/Update/@item.ID" class="btn btn-primary">
                                Edit
                            </a>
                            <button onclick='setiduser(@item.ID)' data-toggle="modal" data-target="#mymodal" class="btn btn-primary">
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>